.icon-directory:before {
    content: "";
    border: 2px solid #404959;
    height: 52px;
    width: 64px;
    display: block;
    border-radius: 3px;
}

.icon-directory:after {
    content: "";
    border: 2px solid #404959;
    width: 64px;
    height: 40px;
    background: #404959;
    display: inline-block;
    transform: translateY(-100%) skewX(-20deg) translateX(14%);
    border-radius: 3px;
}

.icon-file:before {
    content: "F";
    font-size: 1.8em;
    border: 2px solid #404959;
    height: 64px;
    width: 50px;
    display: block;
    border-radius: 3px;
}

.icon-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.icon-directory,.icon-file {
    flex: none;
}
